
*{
    font-family: "Noto Sans KR";
}
.reset-password-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .reset-password-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin-bottom: 5px;
  }
  
  form input {
    margin-bottom: 15px;
    padding: 8px;
    font-size: 16px;
    
  }
  
  button#reset-btn {
    padding: 10px;
    background-color: #889491;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button#reset-btn:hover {
    background-color: #778881;
  }
  
  #reset-result {
    margin-top: 20px;
    text-align: center;
  }
  



#new-password, #confirm-password{
    border: none;
    border-bottom: 1px solid #333;
}
